.order-manage {
    padding: 20px;
    color: #f1f1f1;
  }
  
  .order-manage-title {
    font-size: 24px;
    color: #000;
  }

     
  .order-manage-sort {
    position: relative;
  }
  .order-manage-table select {
    background-color:#fff ;
    border: 1px solid #ccc;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color:#2c2f33;
  }
  .order-manage-table {
    margin-top: 15px;
  }
  
  .order-manage-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .order-manage-table th,
  .order-manage-table td {
    padding: 15px;
    background-color: #fff;
    color:  #2c2f33;
    border-bottom: 1px solid #444;
  }

  
  .table-icon {
    margin-right: 8px;
    color: #999;
  }

  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f44336;
    transition: 0.4s;
    border-radius: 25px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px; /* Điều chỉnh chiều cao */
    width: 24px; /* Điều chỉnh chiều rộng */
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #4caf50;
  }
  
  input:checked + .slider:before {
    transform: translateX(
      30px
    ); /* Điều chỉnh khoảng cách để phù hợp với chiều rộng */
  }
  .order-manage-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  
  .order-manage-filters {
    display: flex;
    gap: 10px;
  }
  
  .filter-button {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f0f0f0;
    color: #333;
    transition: all 0.3s ease;
  }
  
  .filter-button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .filter-button:hover {
    background-color: #007bff;
    color: #fff;
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Đảm bảo các phần tử con căn giữa theo chiều dọc */
    margin-top: 20px;
    padding: 10px 0;
  }
  
  .custom-pagination {
    display: flex;
    align-items: center;
  }
  
  .custom-pagination .MuiTablePagination-toolbar {
    display: flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 0;
  }
  
  .custom-pagination .MuiTablePagination-displayedRows {
    color: #fff;
    font-weight: bold;
    margin-right: 10px; /* Khoảng cách giữa text và nút */
  }
  
  .custom-pagination .MuiTablePagination-actions {
    color: #fff;
  }
  
  .custom-pagination .MuiButtonBase-root {
    color: #fff;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s;
  }
  
  .custom-pagination .MuiButtonBase-root:hover {
    background-color: #5a5f65;
  }